@model ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_StaticLayout";
}

<div class="max-w-md mx-auto">
    <form asp-action="ResetPassword" asp-controller="Account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-red-400"></div>
        <input asp-for="EmailToken" type="hidden" />
        <div class="mb-2">
            <label asp-for="NewPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="NewPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="***************" required />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="mb-2">
            <label asp-for="ConfirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="ConfirmPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="***************" required />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="mb-2">
            <input type="submit" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" value="Submit" />

        </div>
    </form>
</div>