@{
    ViewData["Title"] = "Home Page";
    Layout = "_StaticLayout";
}


<div class="w-full p-4 text-center bg-blue-100 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 b-10" style="height:600px;">
    <div class="text" style="padding-top:10%">
        <h5 class=" mb-2 text-3xl font-bold text-gray-900 dark:text-white">Shop fast from anywhere</h5>
        <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">Stay Up-to-Date with Fashion World and Arround</p>
        <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
         
             <a type="submit" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" style="cursor:pointer;">Shop now </a>
                      
        </div>
    </div>
</div>

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<div class="w-100 grid grid-cols-3 md:grid-cols-1 gap-4" style="margin-top:20px; margin-left:100px;">

    <div data-aos="fade-up">
        <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
            <a href="#">
                <img class="rounded-lg" src="~/projectfile/d1dc96a139e4b8ff974119550281d0f2.jpg" alt="image description">
            </a>
            <figcaption class="absolute px-4 text-lg text-white bottom-6">
                <p>Do you want to get notified when a new component is added to Flowbite?</p>
            </figcaption>
        </figure>
    </div>
    <div data-aos="fade-up">
        <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
            <a href="#">
                <img class="rounded-lg" src="~/projectfile/62a43b181358aeb97fbcb574e4680c44.jpg" alt="image description">
            </a>
            <figcaption class="absolute px-4 text-lg text-white bottom-10">
                <p class="border-4 border-green-500"><strong>Do you want to get notified when a new component is added to Flowbite?</strong></p>
            </figcaption>
        </figure>
    </div>

    <div data-aos="fade-up">

        <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
            <a href="#">
                <img class="rounded-lg" src="~/projectfile/0673bd8286a30b9fea86035140b47971.jpg " alt="image description">
            </a>
            <figcaption class="absolute px-4 text-lg text-white bottom-6">
                <p>Do you want to get notified when a new component is added to Flowbite?</p>
            </figcaption>
        </figure>
    </div>


    <div data-aos="fade-up">
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>

    </div>
    <div data-aos="fade-up">
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
    </div>
    <div data-aos="fade-up">
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
    </div>

</div>

<script>
    AOS.init();
</script>

